<html>
  
    <body>
       
        <div class="container mt-5">
        <form action="/product/productEdit/:<%=product.id%>" method="POST">
            <input type="hidden" name="id" value="<%=product.id%>"/>
            <div class="form-group">
                <lable>Name</lable>
                <input value='<%=product.productName%>' type="text" name="productName" class="form-control"/>
            </div>
            <div class="form-group">
                <lable>Quantity</lable>
                <input value='<%=product.productQuantity%>' type="text" name="productQuantity" class="form-control"/>
            </div>
            <div class="form-group">
                <lable>Price</lable>
                <input value='<%=product.productPrice%>' type="text" name="productPrice" class="form-control"/>
            </div>
            <div class="form-group">
                <lable>Image</lable>
                <input value="<%=product.productImage%>" type="text" name="productImage" class="form-control"/>
            </div>
            <div class="form-group">
                <lable>Description</lable>
                <textarea name="description" class="form-control"><%=product.description%></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Update product</button>
            </div>
        </form>
       </div>
    </body>
</html>

